body {
    font-family: Arial, sans-serif;
    background-color: #fdccf1d4;
    color: #333;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #ff69b4;
}
h2 {
    color: #ff1493;
}
h3 {
    color: #ffc0cb; 
}
img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}
ul {
    text-align: left;
    display: inline-block;
    list-style-type: circle;
}
a {
    color: #db7093; 
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#hamsterImage {
    border: 5px solid #ff1493;
    border-radius: 10px;
}
